.rating {
    display: flex;
    align-items: center;
    font-size: 1em;
  }
  
  .rating span {
    margin-right: 4px;
  }
  
  .rating-text {
    margin-left: 8px;
    font-size: 0.9em;
    color: #333;
  }
  